<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers
    Date submitted (v1.0):     05/13/2020
    Assignment:                Dating Assignment - Part 2 - Routing
    File Description:          This is the interests submission page for my dating website
-->

<head>
    <title>Interests</title>

    <include href="includes/header.htm"></include>

</head>

<body class="pt-5">

<!--  Nav Bar -->

<include href="includes/navbar.htm"></include>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded">
    <form action="#" method="post" class="form-horizontal">
        <div>
            <h1 class="h1 font-weight-bold pt-3">Interests</h1>
            <hr>


            <!-- get indoor interests -->
            <label class="font-weight-bold">In-door Interests</label>

            <div class="container mx-4 form-group">
                <!-- row one div -->
                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='tv'
                                                               name='indoor[]' value='tv'>tv</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='movies'
                                                               name='indoor[]' value='movies'>movies</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='cooking'
                                                               name='indoor[]' value='cooking'>cooking</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='board-games'
                                                               name='indoor[]' value='board games'>board games</label>
                    </div>


                </div>      <!-- end row one div -->

                <!-- row two div -->
                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='puzzles'
                                                               name='indoor[]' value='puzzles'>puzzles</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='reading'
                                                               name='indoor[]' value='reading'>reading</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='cards'
                                                               name='indoor[]' value='playing cards'>playing cards</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='video-games'
                                                               name='indoor[]' value='video games'>video games</label>
                    </div>


                </div>      <!-- end row two div -->

            </div>

            <!-- get outdoor interests -->
            <label class="font-weight-bold">Out-door Interests</label>

            <div class="container mx-4 form-group">
                <!-- row three div -->
                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='hiking'
                                                               name='outdoor[]' value='hiking'>hiking</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='biking'
                                                               name='outdoor[]' value='biking'>biking</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='swimming'
                                                               name='outdoor[]' value='swimming'>swimming</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='collecting'
                                                               name='outdoor[]' value='collecting'>collecting</label>
                    </div>

                </div>      <!-- end row three div -->

                <!-- row four div -->
                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='walking'
                                                               name='outdoor[]' value='walking'>walking</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='climbing'
                                                               name='outdoor[]' value='climbing'>climbing</label>
                    </div>

                </div>      <!-- end row four div -->
            </div>

            <div class="row">
                <div class="ml-auto mr-0">
                    <input class="btn btn-primary"
                           type="submit" value="Next >">
                </div>
            </div>

        </div>
    </form>

</div>  <!-- end container div -->

</body>
</html>