<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers
    Date submitted (v1.0):     05/12/2020
    Assignment:                Dating Assignment - Part 2 - Setup
    File Description:          This is the interests submission page for my dating website
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interests</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

</head>

<body class="pt-5">

<!--  Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Amare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Amare Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""></a>
            </li>

        </ul>
    </div>
</nav>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded">
    <form action="#" method="post" class="form-horizontal">
        <div>
            <h1 class="h1 font-weight-bold pt-3">Interests</h1>
            <hr>


            <!-- get indoor interests -->
            <label class="font-weight-bold">In-door Interests</label>

            <div class="container mx-4 form-group">
                <!-- row one div -->
                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='tv'
                                                               name='indoor[]' value='tv'>tv</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='movies'
                                                               name='indoor[]' value='movies'>movies</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='cooking'
                                                               name='indoor[]' value='cooking'>cooking</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='board-games'
                                                               name='indoor[]' value='board-games'>board games</label>
                    </div>


                </div>      <!-- end row one div -->

                <!-- row two div -->
                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='puzzles'
                                                               name='indoor[]' value='puzzles'>puzzles</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='reading'
                                                               name='indoor[]' value='reading'>reading</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='cards'
                                                               name='indoor[]' value='cards'>playing cards</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='video-games'
                                                               name='indoor[]' value='video-games'>video games</label>
                    </div>


                </div>      <!-- end row two div -->

            </div>

            <!-- get outdoor interests -->
            <label class="font-weight-bold">Out-door Interests</label>

            <div class="container mx-4 form-group">
                <!-- row three div -->
                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='hiking'
                                                               name='indoor[]' value='hiking'>hiking</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='biking'
                                                               name='indoor[]' value='biking'>biking</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='swimming'
                                                               name='indoor[]' value='swimming'>swimming</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='collecting'
                                                               name='indoor[]' value='collecting'>collecting</label>
                    </div>

                </div>      <!-- end row three div -->

                <!-- row four div -->
                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='walking'
                                                               name='indoor[]' value='walking'>walking</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='climbing'
                                                               name='indoor[]' value='climbing'>climbing</label>
                    </div>

                </div>      <!-- end row four div -->
            </div>

            <div class="row">
                <div class="ml-auto mr-0">
                    <input class="btn btn-primary"
                           type="submit" value="Next >">
                </div>
            </div>

        </div>
    </form>

</div>  <!-- end container div -->


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>