<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers
    Date submitted (v1.0):     05/11/2020
    Assignment:                Dating Assignment - Part 2 - Setup
    File Description:          This is the personal information submission page for my dating website
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Personal Information</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

</head>

<body class="pt-5">

<!--  Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Amare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Amare Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""></a>
            </li>

        </ul>
    </div>
</nav>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded">
    <form action="#" method="post" class="form-horizontal">
    <div>
        <h1 class="h1 font-weight-bold pt-3">Personal Information</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">

                    <!-- get first name -->
                    <div class="form-group row pr-3">
                        <label class="font-weight-bold" for="firstName">First Name</label>
                        <input class="form-control" type="text" name="firstName" id="firstName">

                    </div>

                    <!-- get last name -->
                    <div class="form-group row pr-3">
                        <label class="font-weight-bold" for="lastName">Last Name</label>
                        <input class="form-control" type="text" name="lastName" id="lastName">

                    </div>

                    <!-- get age -->
                    <div class="form-group row pr-3">
                        <label class="font-weight-bold" for="age">Age</label>
                        <input class="form-control" type="text" name="age" id="age">

                    </div>

                    <!-- get gender -->
                    <div class="form-group row pr-3">
                        <fieldset>
                            <label class="font-weight-bold">Gender</label><br>
                            <input class="mr-2" type="radio" name="gender" id="male" value="Male"><label class="mr-3 mb-0" for="male">Male</label>
                            <input class="mr-2" type="radio" name="gender" id="female" value="Female"><label class="mr-3 mb-0" for="female">Female</label>
                            <input class="mr-2" type="radio" name="gender" id="non-binary" value="Non-binary"><label class="mr-3 mb-0" for="non-binary">Non-binary</label>
                        </fieldset>

                    </div>

                    <!-- get phone number -->
                    <div class="form-group row pr-3 mb-0">
                        <label class="font-weight-bold" for="phone">Phone Number</label>
                        <input class="form-control" type="text" name="phone" id="phone">

                    </div>



            </div>      <!-- end left column div -->

            <!-- right column div -->
            <div class="col-md-4 mt-3 pr-md-0">
                <div class="border rounded mt-3 bg-light" id="note">
                    <p class="m-2 text-center"><strong>Note:</strong> All information entered is protected by our privacy policy. Profile information can only
                        be viewed by others with your permission.</p>
                </div>
            </div>      <!-- end right column div -->

        </div>      <!-- end row div -->
        <div class="row mt-3">
            <div class="ml-auto mr-0">
                <input class="btn btn-primary"
                       type="submit" value="Next >">
            </div>
        </div>

    </div>
    </form>

</div>  <!-- end container div -->


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>