<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers
    Date submitted (v1.0):     05/13/2020
    Assignment:                Dating Assignment - Part 2 - Routing
    File Description:          This is the personal information submission page for my dating website.
-->

<head>
    <title>Personal Information</title>

    <include href="includes/header.htm"></include>

</head>

<body class="pt-5">

<!--  Nav Bar -->

<include href="includes/navbar.htm"></include>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded">
    <form action="#" method="post" class="form-horizontal">
    <div>
        <h1 class="h1 font-weight-bold pt-3">Personal Information</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">

                    <!-- get first name -->
                    <div class="form-group row pr-3">
                        <label class="font-weight-bold" for="firstName">First Name</label>
                        <input class="form-control" type="text" name="firstName" id="firstName">

                        <span class="text-danger">
                            <check if="{{ isset(@errors['firstName']) }}">
                                {{ @errors['firstName'] }}
                            </check>
                        </span>

                    </div>

                    <!-- get last name -->
                    <div class="form-group row pr-3">
                        <label class="font-weight-bold" for="lastName">Last Name</label>
                        <input class="form-control" type="text" name="lastName" id="lastName">

                        <span class="err">
                            <check if="{{ isset(@errors['lastName']) }}">
                                {{ @errors['lastName'] }}
                            </check>
                        </span>

                    </div>

                    <!-- get age -->
                    <div class="form-group row pr-3">
                        <label class="font-weight-bold" for="age">Age</label>
                        <input class="form-control" type="text" name="age" id="age">

                    </div>

                    <!-- get gender -->
                    <div class="form-group row pr-3">
                        <fieldset>
                            <label class="font-weight-bold">Gender</label><br>
                            <input class="mr-2" type="radio" name="gender" id="male" value="Male"><label class="mr-3 mb-0" for="male">Male</label>
                            <input class="mr-2" type="radio" name="gender" id="female" value="Female"><label class="mr-3 mb-0" for="female">Female</label>
                            <input class="mr-2" type="radio" name="gender" id="non-binary" value="Non-binary"><label class="mr-3 mb-0" for="non-binary">Non-binary</label>
                        </fieldset>

                    </div>

                    <!-- get phone number -->
                    <div class="form-group row pr-3 mb-0">
                        <label class="font-weight-bold" for="phone">Phone Number</label>
                        <input class="form-control" type="text" name="phone" id="phone">

                    </div>



            </div>      <!-- end left column div -->

            <!-- right column div -->
            <div class="col-md-4 mt-3 pr-md-0">
                <div class="border rounded mt-3 bg-light" id="note">
                    <p class="m-2 text-center"><strong>Note:</strong> All information entered is protected by our
                        <a href="#">privacy policy</a>. Profile information can only
                        be viewed by others with your permission.</p>
                </div>
            </div>      <!-- end right column div -->

        </div>      <!-- end row div -->
        <div class="row mt-3">
            <div class="ml-auto mr-0">
                <input class="btn btn-primary"
                       type="submit" value="Next >">
            </div>
        </div>

    </div>
    </form>

</div>  <!-- end container div -->

</body>
</html>