<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers
    Date submitted (v3.0):     06/03/2020
    Assignment:                Dating Assignment - Part 2 - Routing
    File Description:          This is the profile summary page for my dating website.
-->

<head>
    <title>Profile Summary</title>

    <include href="includes/header.htm"></include>

</head>

<body class="pt-5">

<!--  Nav Bar -->

<include href="includes/navbar.htm"></include>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded">

    <div class="row">
        <!-- left column -->
        <div class="col-md-6 pr-md-4 pb-2">

            <div class="card">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tr>
                            <td class="border-top-0">Name: {{ @SESSION.member->getFname() . ' ' . @SESSION.member->getLname() }}</td>
                        </tr>
                        <tr>
                            <td>Gender:  {{ ucfirst(@SESSION.member->getGender()) }}</td>
                        </tr>
                        <tr>
                            <td>Age:  {{ @SESSION.member->getAge() }}</td>
                        </tr>
                        <tr>
                            <td>Phone:  {{ @SESSION.member->getPhone() }}</td>
                        </tr>
                        <tr>
                            <td>Email:  {{ @SESSION.member->getEmail() }}</td>
                        </tr>
                        <tr>
                            <td>State:  {{ @SESSION.member->getState() }}</td>
                        </tr>
                        <tr>
                            <td>Seeking:  {{ ucfirst(@SESSION.member->getSeeking()) }}</td>
                        </tr>

                        <check if="{{ get_class($_SESSION['member']) == 'PremiumMember' }}">
                            <tr>
                                <td>Interests:
                                    <check if="{{ @SESSION.member->getInDoorInterests() != NULL }}">
                                        {{ implode(@SESSION.member->getInDoorInterests(), " ") }}
                                    </check>
                                    <check if="{{ @SESSION.member->getOutDoorInterests() != NULL }}">
                                        {{ implode(@SESSION.member->getOutDoorInterests(), " ") }}
                                    </check>

                                </td>
                            </tr>

                        </check>


                    </table>
                </div>
            </div>


        </div>      <!-- end left column div -->

        <!-- right column div -->
        <div class="col-md-6 pl-md-4 pt-4 pt-md-0">
            <div class="row mb-4">
                <!-- avatar picture -->

                    <img src="images/avatar.png" alt="Avatar head and shoulders solid outline"
                         class="rounded img-fluid">

            </div>

            <div class="row">
                <!-- bio -->
                <div class="">
                    <h5 class="font-weight-normal">Biography</h5>
                    <p class="p-1">{{ @SESSION.member->getBio() }}</p>

                </div>
            </div>


        </div>      <!-- end right column div -->

    </div>      <!-- end row div -->
    <div class="row my-3">
        <div class="ml-auto mr-auto">
            <input class="btn btn-primary"
                   type="button" value="Contact Me!">
        </div>
    </div>

</div>  <!-- end container div -->

</body>
</html>