/*
 * Created by:                Corey Rogers
 * Date submitted (v2.0):     05/13/2020
 * Assignment:                Dating Assignment - Part 2 - Routing
 * File Description:          This file contains styles for my dating website.
 *
 */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}